.containerApp {
  background-image: url(./Image/RickAndMorty-Space-1.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  z-index: -10;
  overflow: hidden;
  animation: fondo 1s ease-out infinite;
}
/* @keyframes fondo {
  100% {
    scale: 0.1;
  }
} */

.containerApp .nave {
  display: flex;
  position: absolute;
  background-image: url(./Image/Nave.png);
  background-size: cover;
  height: 250px;
  width: 500px;
  z-index: 0;
  animation: nave 50s linear infinite;
}
@keyframes nave {
  100% {
    transform: translateX(calc(60vw));
  }
  75% {
    transform: translateX(calc(-100% - 50vw)) translateY(250px);
  }
  50.01% {
    transform: translateX(calc(-100% - 50vw)) translateY(500px);
  }
  50% {
    transform: translateX(calc(-100% - 50vw)) rotateY(180deg) translateY(-200px);
  }
  25% {
    transform: translateX(calc(100vw)) rotateY(180deg) translateY(100px);
  }
  0% {
    transform: translateX(calc(100vw)) rotateY(180deg) translateY(-100px);
  }
}
.containerCards {
  display: flex;
  justify-content: center;
  height: 90vh;
  width: auto;
  z-index: 1;
}
.navBar {
  display: flex;
  justify-content: space-evenly;
  width: auto;
  margin: 10px 10px 10px 10px;
}
.navBarBottom {
  display: flex;
  justify-content: space-evenly;
  height: 5vh;
  width: auto;
}

.contStart {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  z-index: 0;
}
.stars {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 170px 1941px #fff, 973px 1796px #fff, 1151px 905px #fff,
    397px 97px #fff, 175px 1430px #fff, 203px 123px #fff, 1281px 189px #fff,
    921px 699px #fff, 76px 386px #fff, 783px 1993px #fff, 1039px 623px #fff,
    319px 1616px #fff, 322px 1661px #fff, 1026px 1462px #fff, 91px 176px #fff,
    534px 67px #fff, 573px 1497px #fff, 1729px 152px #fff, 1243px 1080px #fff,
    1822px 386px #fff, 110px 389px #fff, 490px 668px #fff, 639px 1128px #fff,
    940px 871px #fff, 440px 801px #fff, 74px 986px #fff, 303px 1937px #fff,
    388px 1638px #fff, 1382px 1004px #fff, 626px 1002px #fff, 608px 52px #fff,
    970px 1511px #fff, 144px 902px #fff, 481px 1285px #fff, 437px 188px #fff,
    387px 1623px #fff, 1084px 430px #fff, 195px 1741px #fff, 1539px 222px #fff,
    17px 851px #fff, 177px 1689px #fff, 340px 1236px #fff, 1464px 1504px #fff,
    196px 666px #fff, 1903px 1050px #fff, 1615px 1624px #fff, 288px 811px #fff,
    970px 333px #fff, 1920px 926px #fff, 1763px 1993px #fff, 1185px 1161px #fff,
    214px 959px #fff, 204px 1508px #fff, 569px 670px #fff, 1081px 288px #fff,
    1540px 486px #fff, 1108px 558px #fff, 5px 1864px #fff, 487px 947px #fff,
    117px 713px #fff, 1352px 1301px #fff, 1201px 1557px #fff, 1370px 1666px #fff,
    515px 1491px #fff, 858px 1965px #fff, 1008px 731px #fff, 296px 192px #fff,
    1482px 1783px #fff, 1853px 452px #fff, 194px 1919px #fff, 90px 1327px #fff,
    1141px 1016px #fff, 1455px 1079px #fff, 532px 1233px #fff, 228px 1524px #fff,
    188px 828px #fff, 1713px 525px #fff, 1875px 1661px #fff, 693px 1730px #fff,
    1954px 1015px #fff, 45px 1809px #fff, 1447px 1419px #fff, 163px 1598px #fff,
    1348px 49px #fff, 1131px 26px #fff, 1228px 742px #fff, 666px 1781px #fff,
    729px 698px #fff, 1231px 746px #fff, 898px 1016px #fff, 1916px 1453px #fff,
    1558px 1840px #fff, 105px 1237px #fff, 560px 84px #fff, 947px 1283px #fff,
    767px 1799px #fff, 1647px 1710px #fff, 495px 476px #fff, 347px 940px #fff,
    1107px 1961px #fff, 1203px 658px #fff, 1445px 254px #fff, 1401px 246px #fff,
    909px 1011px #fff, 660px 493px #fff, 1009px 1503px #fff, 83px 671px #fff,
    218px 576px #fff, 1454px 1560px #fff, 1100px 413px #fff, 1425px 1748px #fff,
    389px 1998px #fff, 1318px 1532px #fff, 1853px 266px #fff, 614px 1388px #fff,
    797px 1932px #fff, 805px 694px #fff, 1632px 1539px #fff, 319px 810px #fff,
    1167px 939px #fff, 1101px 1865px #fff, 1467px 934px #fff, 109px 1788px #fff,
    73px 246px #fff, 694px 1013px #fff, 1677px 1272px #fff, 1685px 1389px #fff,
    1162px 1722px #fff, 1492px 1499px #fff, 30px 1897px #fff, 227px 18px #fff,
    1237px 1693px #fff, 1176px 1463px #fff, 1839px 341px #fff,
    1118px 1071px #fff, 1094px 1015px #fff, 1619px 1296px #fff, 903px 431px #fff,
    1717px 181px #fff, 126px 1653px #fff, 1283px 1846px #fff, 1049px 665px #fff,
    127px 397px #fff, 463px 44px #fff, 1552px 575px #fff, 368px 1755px #fff,
    1401px 964px #fff, 679px 570px #fff, 1968px 578px #fff, 1749px 889px #fff,
    591px 1416px #fff, 244px 1252px #fff, 114px 24px #fff, 22px 1586px #fff,
    639px 1990px #fff, 1968px 1136px #fff, 340px 23px #fff, 112px 751px #fff,
    799px 1401px #fff, 1700px 178px #fff, 1123px 829px #fff, 145px 1438px #fff,
    882px 947px #fff, 1597px 1104px #fff, 439px 408px #fff, 1111px 1335px #fff,
    46px 1037px #fff, 766px 1436px #fff, 1845px 1711px #fff, 825px 640px #fff,
    558px 871px #fff, 1812px 1662px #fff, 1183px 1508px #fff, 759px 1528px #fff,
    218px 723px #fff, 1060px 1121px #fff, 1895px 1854px #fff, 923px 898px #fff,
    975px 1013px #fff, 1786px 162px #fff, 562px 636px #fff, 1929px 224px #fff,
    517px 1686px #fff, 219px 712px #fff, 1265px 564px #fff, 688px 1920px #fff,
    835px 292px #fff, 275px 673px #fff, 639px 1703px #fff, 84px 166px #fff,
    1370px 200px #fff, 211px 1698px #fff, 1160px 1775px #fff, 509px 1167px #fff,
    1895px 1700px #fff, 897px 1848px #fff, 324px 317px #fff, 652px 1185px #fff,
    1906px 711px #fff, 706px 1806px #fff, 285px 17px #fff, 1360px 90px #fff,
    880px 1758px #fff, 1329px 1009px #fff, 1113px 169px #fff, 1656px 1457px #fff,
    33px 317px #fff, 1546px 1712px #fff, 1637px 1440px #fff, 970px 1605px #fff,
    1216px 172px #fff, 129px 1944px #fff, 309px 1988px #fff, 1236px 1623px #fff,
    1403px 1462px #fff, 256px 1846px #fff, 999px 513px #fff, 831px 553px #fff,
    763px 1801px #fff, 1353px 438px #fff, 888px 203px #fff, 58px 992px #fff,
    859px 1025px #fff, 726px 1644px #fff, 284px 35px #fff, 641px 1644px #fff,
    1991px 937px #fff, 986px 79px #fff, 1262px 1611px #fff, 1425px 1226px #fff,
    1396px 304px #fff, 81px 1060px #fff, 679px 1133px #fff, 1284px 1176px #fff,
    910px 1394px #fff, 1836px 1741px #fff, 424px 1706px #fff, 909px 1186px #fff,
    25px 679px #fff, 1834px 1152px #fff, 212px 1992px #fff, 385px 1919px #fff,
    1022px 915px #fff, 1509px 561px #fff, 478px 1591px #fff, 1058px 985px #fff,
    1108px 1264px #fff, 1786px 457px #fff, 1482px 463px #fff, 214px 1830px #fff,
    79px 1547px #fff, 1434px 1944px #fff, 943px 1771px #fff, 1801px 513px #fff,
    469px 36px #fff, 1028px 1583px #fff, 68px 935px #fff, 358px 1351px #fff,
    1301px 186px #fff, 1051px 442px #fff, 1449px 675px #fff, 1422px 1529px #fff,
    26px 1345px #fff, 81px 1121px #fff, 1208px 622px #fff, 641px 950px #fff,
    1699px 1400px #fff, 294px 1131px #fff, 1576px 787px #fff, 124px 1763px #fff,
    517px 1238px #fff, 1749px 316px #fff, 1280px 857px #fff, 139px 69px #fff,
    855px 1218px #fff, 787px 712px #fff, 340px 386px #fff, 619px 1149px #fff,
    174px 670px #fff, 180px 1890px #fff, 197px 848px #fff, 268px 773px #fff,
    1447px 839px #fff, 229px 9px #fff, 1078px 555px #fff, 1716px 95px #fff,
    284px 1447px #fff, 607px 629px #fff, 1691px 800px #fff, 109px 1654px #fff,
    819px 1033px #fff, 718px 1870px #fff, 1743px 1880px #fff, 86px 353px #fff,
    1662px 686px #fff, 597px 490px #fff, 1316px 1071px #fff, 47px 344px #fff,
    1278px 449px #fff, 1966px 481px #fff, 270px 1385px #fff, 257px 116px #fff,
    119px 1851px #fff, 125px 996px #fff, 639px 578px #fff, 929px 298px #fff,
    1786px 1504px #fff, 703px 1159px #fff, 938px 1606px #fff, 580px 800px #fff,
    94px 1893px #fff, 1668px 1732px #fff, 395px 27px #fff, 128px 76px #fff,
    959px 1066px #fff, 320px 1844px #fff, 604px 1143px #fff, 750px 1560px #fff,
    1021px 1958px #fff, 1217px 1481px #fff, 1961px 533px #fff, 22px 1892px #fff,
    54px 718px #fff, 479px 1243px #fff, 1055px 1222px #fff, 1356px 104px #fff,
    1171px 1079px #fff, 645px 182px #fff, 911px 920px #fff, 1483px 1920px #fff,
    885px 1247px #fff, 1841px 1153px #fff, 213px 1090px #fff, 1889px 783px #fff,
    1098px 856px #fff, 834px 235px #fff, 1389px 54px #fff, 356px 689px #fff,
    1157px 281px #fff, 968px 569px #fff, 1714px 1415px #fff, 1574px 980px #fff,
    144px 1649px #fff, 1024px 912px #fff, 1049px 1540px #fff, 1507px 1781px #fff,
    1263px 1276px #fff, 1686px 1573px #fff, 1815px 1187px #fff,
    266px 1261px #fff, 951px 438px #fff, 492px 496px #fff, 898px 1398px #fff,
    618px 1585px #fff, 1472px 981px #fff, 948px 1431px #fff, 1847px 1883px #fff,
    173px 1324px #fff, 1336px 831px #fff, 229px 1467px #fff, 228px 126px #fff,
    156px 336px #fff, 1166px 1898px #fff, 1798px 356px #fff, 1820px 450px #fff,
    1193px 1729px #fff, 403px 930px #fff, 1854px 442px #fff, 1090px 91px #fff,
    1085px 1830px #fff, 807px 1476px #fff, 1014px 879px #fff, 498px 1448px #fff,
    1778px 680px #fff, 942px 351px #fff, 185px 1959px #fff, 1270px 2000px #fff,
    629px 497px #fff, 255px 472px #fff, 865px 275px #fff, 1693px 93px #fff,
    1762px 1571px #fff, 1072px 561px #fff, 1295px 1988px #fff,
    1690px 1638px #fff, 1932px 1282px #fff, 67px 665px #fff, 1935px 1316px #fff,
    1309px 1838px #fff, 530px 1336px #fff, 420px 1779px #fff, 1188px 755px #fff,
    1209px 1705px #fff, 1233px 1581px #fff, 445px 274px #fff, 317px 1455px #fff,
    147px 577px #fff, 1843px 1619px #fff, 1201px 284px #fff, 1558px 245px #fff,
    1845px 531px #fff, 1646px 1371px #fff, 945px 519px #fff, 696px 879px #fff,
    420px 1279px #fff, 1476px 387px #fff, 1744px 1182px #fff, 1671px 1545px #fff,
    278px 573px #fff, 1440px 1948px #fff, 226px 1429px #fff, 178px 885px #fff,
    999px 1771px #fff, 801px 1279px #fff, 1664px 361px #fff, 1584px 520px #fff,
    1332px 127px #fff, 1049px 152px #fff, 1365px 1927px #fff, 763px 899px #fff,
    1211px 155px #fff, 1487px 1241px #fff, 1680px 195px #fff, 903px 724px #fff,
    1459px 1956px #fff, 437px 1196px #fff, 204px 724px #fff, 132px 828px #fff,
    1048px 526px #fff, 57px 317px #fff, 923px 1626px #fff, 1428px 644px #fff,
    702px 1192px #fff, 1173px 1839px #fff, 405px 577px #fff, 1168px 818px #fff,
    1739px 268px #fff, 802px 1009px #fff, 676px 373px #fff, 1287px 920px #fff,
    1320px 1986px #fff, 515px 1826px #fff, 1120px 1594px #fff, 1947px 882px #fff,
    1042px 682px #fff, 1120px 1229px #fff, 1911px 447px #fff, 135px 1959px #fff,
    1522px 422px #fff, 793px 639px #fff, 1795px 1788px #fff, 553px 1682px #fff,
    960px 367px #fff, 1842px 1529px #fff, 1281px 1802px #fff, 957px 6px #fff,
    1117px 1529px #fff, 713px 1004px #fff, 1172px 1913px #fff, 95px 320px #fff,
    640px 862px #fff, 324px 1674px #fff, 1977px 1804px #fff, 175px 568px #fff,
    269px 1132px #fff, 847px 603px #fff, 774px 653px #fff, 1160px 928px #fff,
    723px 1169px #fff, 1468px 720px #fff, 1089px 1372px #fff, 673px 391px #fff,
    1307px 304px #fff, 741px 1335px #fff, 1782px 1961px #fff, 471px 32px #fff,
    39px 840px #fff, 1601px 1662px #fff, 1077px 1620px #fff, 531px 399px #fff,
    1642px 296px #fff, 1173px 184px #fff, 28px 282px #fff, 30px 110px #fff,
    922px 395px #fff, 302px 1749px #fff, 1947px 348px #fff, 474px 1548px #fff,
    1968px 289px #fff, 1689px 1211px #fff, 1885px 1889px #fff, 710px 1944px #fff,
    1387px 830px #fff, 1074px 667px #fff, 1190px 1256px #fff, 293px 984px #fff,
    958px 804px #fff, 254px 1848px #fff, 391px 1069px #fff, 728px 106px #fff,
    1235px 323px #fff, 1193px 393px #fff, 377px 946px #fff, 789px 1269px #fff,
    1797px 1974px #fff, 150px 110px #fff, 1262px 50px #fff, 141px 1112px #fff,
    112px 633px #fff, 463px 30px #fff, 1734px 419px #fff, 1051px 918px #fff,
    1139px 1436px #fff, 343px 315px #fff, 822px 460px #fff, 1861px 423px #fff,
    796px 1803px #fff, 1680px 945px #fff, 235px 1436px #fff, 636px 1471px #fff,
    1180px 594px #fff, 1478px 1531px #fff, 1194px 1222px #fff, 381px 201px #fff,
    570px 903px #fff, 1791px 1004px #fff, 465px 43px #fff, 1531px 1257px #fff,
    1947px 1837px #fff, 1226px 259px #fff, 459px 1246px #fff, 1593px 77px #fff,
    1607px 1931px #fff, 529px 1487px #fff, 702px 979px #fff, 1119px 1759px #fff,
    1974px 240px #fff, 610px 1111px #fff, 1083px 346px #fff, 82px 1850px #fff,
    334px 1531px #fff, 1438px 1664px #fff, 203px 346px #fff, 1330px 1459px #fff,
    793px 1555px #fff, 522px 566px #fff, 531px 255px #fff, 1323px 55px #fff,
    1837px 184px #fff, 1096px 1926px #fff, 783px 585px #fff, 1606px 1700px #fff,
    1635px 135px #fff, 1277px 1064px #fff, 1776px 1476px #fff,
    1127px 1849px #fff, 1005px 987px #fff, 583px 366px #fff, 136px 413px #fff,
    178px 755px #fff, 1354px 81px #fff, 56px 268px #fff, 1070px 1981px #fff,
    1368px 654px #fff, 1384px 230px #fff, 1542px 977px #fff, 307px 1376px #fff,
    119px 844px #fff, 4px 412px #fff, 737px 47px #fff, 1782px 1358px #fff,
    1252px 520px #fff, 376px 1877px #fff, 18px 1768px #fff, 976px 1068px #fff,
    620px 181px #fff, 597px 832px #fff, 1571px 1160px #fff, 466px 1332px #fff,
    1581px 410px #fff, 1301px 211px #fff, 635px 365px #fff, 893px 129px #fff,
    1059px 964px #fff, 918px 909px #fff, 855px 865px #fff, 318px 1331px #fff,
    622px 1924px #fff, 1573px 296px #fff, 1932px 773px #fff, 13px 1010px #fff,
    1720px 375px #fff, 1066px 42px #fff, 631px 855px #fff, 464px 666px #fff,
    1513px 964px #fff, 1757px 1339px #fff, 1136px 197px #fff, 1776px 1191px #fff,
    316px 180px #fff, 283px 1678px #fff, 6px 1706px #fff, 486px 963px #fff,
    726px 1431px #fff, 1713px 248px #fff, 1023px 475px #fff, 893px 719px #fff,
    1033px 728px #fff, 263px 869px #fff, 869px 1776px #fff, 568px 932px #fff,
    83px 324px #fff, 1748px 1984px #fff, 239px 105px #fff, 990px 1815px #fff,
    902px 1092px #fff, 585px 1543px #fff, 1989px 1547px #fff, 151px 1915px #fff,
    1781px 484px #fff, 522px 624px #fff, 684px 1082px #fff, 205px 1761px #fff,
    260px 1251px #fff, 1286px 380px #fff, 220px 899px #fff, 188px 1033px #fff,
    1693px 671px #fff, 1964px 154px #fff, 34px 1909px #fff, 1137px 24px #fff,
    1726px 973px #fff, 451px 1722px #fff, 1493px 1755px #fff, 1938px 436px #fff,
    593px 1976px #fff, 152px 1705px #fff, 1559px 1366px #fff, 1278px 36px #fff,
    499px 1856px #fff, 580px 22px #fff, 1863px 724px #fff, 661px 1659px #fff,
    1162px 555px #fff, 1948px 1571px #fff, 1952px 829px #fff, 687px 654px #fff,
    1938px 663px #fff, 1806px 127px #fff, 1383px 306px #fff, 507px 382px #fff,
    924px 763px #fff, 432px 1471px #fff, 1031px 406px #fff, 1114px 1720px #fff,
    659px 1033px #fff, 1708px 1153px #fff, 1203px 1850px #fff, 1623px 63px #fff,
    1583px 1876px #fff, 171px 98px #fff, 1041px 1633px #fff, 1671px 1652px #fff,
    330px 406px #fff, 1423px 779px #fff, 1352px 1391px #fff, 497px 285px #fff,
    595px 1777px #fff, 65px 323px #fff, 109px 1219px #fff, 1683px 1752px #fff,
    1538px 1779px #fff, 992px 1862px #fff, 1382px 1696px #fff, 1382px 522px #fff,
    483px 1850px #fff, 1895px 1602px #fff, 380px 1366px #fff, 169px 1398px #fff,
    1443px 1031px #fff, 300px 1041px #fff, 1163px 1537px #fff, 1002px 131px #fff,
    1108px 1228px #fff, 409px 530px #fff, 455px 27px #fff, 1825px 739px #fff,
    1480px 197px #fff, 737px 1408px #fff, 1832px 695px #fff, 332px 1681px #fff,
    450px 791px #fff, 581px 1318px #fff, 1264px 682px #fff, 1429px 1351px #fff,
    229px 261px #fff, 1327px 408px #fff, 138px 217px #fff, 1383px 1491px #fff,
    717px 1356px #fff;
  animation: animStar 50s linear infinite;
}
.stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 170px 1941px #fff, 973px 1796px #fff, 1151px 905px #fff,
    397px 97px #fff, 175px 1430px #fff, 203px 123px #fff, 1281px 189px #fff,
    921px 699px #fff, 76px 386px #fff, 783px 1993px #fff, 1039px 623px #fff,
    319px 1616px #fff, 322px 1661px #fff, 1026px 1462px #fff, 91px 176px #fff,
    534px 67px #fff, 573px 1497px #fff, 1729px 152px #fff, 1243px 1080px #fff,
    1822px 386px #fff, 110px 389px #fff, 490px 668px #fff, 639px 1128px #fff,
    940px 871px #fff, 440px 801px #fff, 74px 986px #fff, 303px 1937px #fff,
    388px 1638px #fff, 1382px 1004px #fff, 626px 1002px #fff, 608px 52px #fff,
    970px 1511px #fff, 144px 902px #fff, 481px 1285px #fff, 437px 188px #fff,
    387px 1623px #fff, 1084px 430px #fff, 195px 1741px #fff, 1539px 222px #fff,
    17px 851px #fff, 177px 1689px #fff, 340px 1236px #fff, 1464px 1504px #fff,
    196px 666px #fff, 1903px 1050px #fff, 1615px 1624px #fff, 288px 811px #fff,
    970px 333px #fff, 1920px 926px #fff, 1763px 1993px #fff, 1185px 1161px #fff,
    214px 959px #fff, 204px 1508px #fff, 569px 670px #fff, 1081px 288px #fff,
    1540px 486px #fff, 1108px 558px #fff, 5px 1864px #fff, 487px 947px #fff,
    117px 713px #fff, 1352px 1301px #fff, 1201px 1557px #fff, 1370px 1666px #fff,
    515px 1491px #fff, 858px 1965px #fff, 1008px 731px #fff, 296px 192px #fff,
    1482px 1783px #fff, 1853px 452px #fff, 194px 1919px #fff, 90px 1327px #fff,
    1141px 1016px #fff, 1455px 1079px #fff, 532px 1233px #fff, 228px 1524px #fff,
    188px 828px #fff, 1713px 525px #fff, 1875px 1661px #fff, 693px 1730px #fff,
    1954px 1015px #fff, 45px 1809px #fff, 1447px 1419px #fff, 163px 1598px #fff,
    1348px 49px #fff, 1131px 26px #fff, 1228px 742px #fff, 666px 1781px #fff,
    729px 698px #fff, 1231px 746px #fff, 898px 1016px #fff, 1916px 1453px #fff,
    1558px 1840px #fff, 105px 1237px #fff, 560px 84px #fff, 947px 1283px #fff,
    767px 1799px #fff, 1647px 1710px #fff, 495px 476px #fff, 347px 940px #fff,
    1107px 1961px #fff, 1203px 658px #fff, 1445px 254px #fff, 1401px 246px #fff,
    909px 1011px #fff, 660px 493px #fff, 1009px 1503px #fff, 83px 671px #fff,
    218px 576px #fff, 1454px 1560px #fff, 1100px 413px #fff, 1425px 1748px #fff,
    389px 1998px #fff, 1318px 1532px #fff, 1853px 266px #fff, 614px 1388px #fff,
    797px 1932px #fff, 805px 694px #fff, 1632px 1539px #fff, 319px 810px #fff,
    1167px 939px #fff, 1101px 1865px #fff, 1467px 934px #fff, 109px 1788px #fff,
    73px 246px #fff, 694px 1013px #fff, 1677px 1272px #fff, 1685px 1389px #fff,
    1162px 1722px #fff, 1492px 1499px #fff, 30px 1897px #fff, 227px 18px #fff,
    1237px 1693px #fff, 1176px 1463px #fff, 1839px 341px #fff,
    1118px 1071px #fff, 1094px 1015px #fff, 1619px 1296px #fff, 903px 431px #fff,
    1717px 181px #fff, 126px 1653px #fff, 1283px 1846px #fff, 1049px 665px #fff,
    127px 397px #fff, 463px 44px #fff, 1552px 575px #fff, 368px 1755px #fff,
    1401px 964px #fff, 679px 570px #fff, 1968px 578px #fff, 1749px 889px #fff,
    591px 1416px #fff, 244px 1252px #fff, 114px 24px #fff, 22px 1586px #fff,
    639px 1990px #fff, 1968px 1136px #fff, 340px 23px #fff, 112px 751px #fff,
    799px 1401px #fff, 1700px 178px #fff, 1123px 829px #fff, 145px 1438px #fff,
    882px 947px #fff, 1597px 1104px #fff, 439px 408px #fff, 1111px 1335px #fff,
    46px 1037px #fff, 766px 1436px #fff, 1845px 1711px #fff, 825px 640px #fff,
    558px 871px #fff, 1812px 1662px #fff, 1183px 1508px #fff, 759px 1528px #fff,
    218px 723px #fff, 1060px 1121px #fff, 1895px 1854px #fff, 923px 898px #fff,
    975px 1013px #fff, 1786px 162px #fff, 562px 636px #fff, 1929px 224px #fff,
    517px 1686px #fff, 219px 712px #fff, 1265px 564px #fff, 688px 1920px #fff,
    835px 292px #fff, 275px 673px #fff, 639px 1703px #fff, 84px 166px #fff,
    1370px 200px #fff, 211px 1698px #fff, 1160px 1775px #fff, 509px 1167px #fff,
    1895px 1700px #fff, 897px 1848px #fff, 324px 317px #fff, 652px 1185px #fff,
    1906px 711px #fff, 706px 1806px #fff, 285px 17px #fff, 1360px 90px #fff,
    880px 1758px #fff, 1329px 1009px #fff, 1113px 169px #fff, 1656px 1457px #fff,
    33px 317px #fff, 1546px 1712px #fff, 1637px 1440px #fff, 970px 1605px #fff,
    1216px 172px #fff, 129px 1944px #fff, 309px 1988px #fff, 1236px 1623px #fff,
    1403px 1462px #fff, 256px 1846px #fff, 999px 513px #fff, 831px 553px #fff,
    763px 1801px #fff, 1353px 438px #fff, 888px 203px #fff, 58px 992px #fff,
    859px 1025px #fff, 726px 1644px #fff, 284px 35px #fff, 641px 1644px #fff,
    1991px 937px #fff, 986px 79px #fff, 1262px 1611px #fff, 1425px 1226px #fff,
    1396px 304px #fff, 81px 1060px #fff, 679px 1133px #fff, 1284px 1176px #fff,
    910px 1394px #fff, 1836px 1741px #fff, 424px 1706px #fff, 909px 1186px #fff,
    25px 679px #fff, 1834px 1152px #fff, 212px 1992px #fff, 385px 1919px #fff,
    1022px 915px #fff, 1509px 561px #fff, 478px 1591px #fff, 1058px 985px #fff,
    1108px 1264px #fff, 1786px 457px #fff, 1482px 463px #fff, 214px 1830px #fff,
    79px 1547px #fff, 1434px 1944px #fff, 943px 1771px #fff, 1801px 513px #fff,
    469px 36px #fff, 1028px 1583px #fff, 68px 935px #fff, 358px 1351px #fff,
    1301px 186px #fff, 1051px 442px #fff, 1449px 675px #fff, 1422px 1529px #fff,
    26px 1345px #fff, 81px 1121px #fff, 1208px 622px #fff, 641px 950px #fff,
    1699px 1400px #fff, 294px 1131px #fff, 1576px 787px #fff, 124px 1763px #fff,
    517px 1238px #fff, 1749px 316px #fff, 1280px 857px #fff, 139px 69px #fff,
    855px 1218px #fff, 787px 712px #fff, 340px 386px #fff, 619px 1149px #fff,
    174px 670px #fff, 180px 1890px #fff, 197px 848px #fff, 268px 773px #fff,
    1447px 839px #fff, 229px 9px #fff, 1078px 555px #fff, 1716px 95px #fff,
    284px 1447px #fff, 607px 629px #fff, 1691px 800px #fff, 109px 1654px #fff,
    819px 1033px #fff, 718px 1870px #fff, 1743px 1880px #fff, 86px 353px #fff,
    1662px 686px #fff, 597px 490px #fff, 1316px 1071px #fff, 47px 344px #fff,
    1278px 449px #fff, 1966px 481px #fff, 270px 1385px #fff, 257px 116px #fff,
    119px 1851px #fff, 125px 996px #fff, 639px 578px #fff, 929px 298px #fff,
    1786px 1504px #fff, 703px 1159px #fff, 938px 1606px #fff, 580px 800px #fff,
    94px 1893px #fff, 1668px 1732px #fff, 395px 27px #fff, 128px 76px #fff,
    959px 1066px #fff, 320px 1844px #fff, 604px 1143px #fff, 750px 1560px #fff,
    1021px 1958px #fff, 1217px 1481px #fff, 1961px 533px #fff, 22px 1892px #fff,
    54px 718px #fff, 479px 1243px #fff, 1055px 1222px #fff, 1356px 104px #fff,
    1171px 1079px #fff, 645px 182px #fff, 911px 920px #fff, 1483px 1920px #fff,
    885px 1247px #fff, 1841px 1153px #fff, 213px 1090px #fff, 1889px 783px #fff,
    1098px 856px #fff, 834px 235px #fff, 1389px 54px #fff, 356px 689px #fff,
    1157px 281px #fff, 968px 569px #fff, 1714px 1415px #fff, 1574px 980px #fff,
    144px 1649px #fff, 1024px 912px #fff, 1049px 1540px #fff, 1507px 1781px #fff,
    1263px 1276px #fff, 1686px 1573px #fff, 1815px 1187px #fff,
    266px 1261px #fff, 951px 438px #fff, 492px 496px #fff, 898px 1398px #fff,
    618px 1585px #fff, 1472px 981px #fff, 948px 1431px #fff, 1847px 1883px #fff,
    173px 1324px #fff, 1336px 831px #fff, 229px 1467px #fff, 228px 126px #fff,
    156px 336px #fff, 1166px 1898px #fff, 1798px 356px #fff, 1820px 450px #fff,
    1193px 1729px #fff, 403px 930px #fff, 1854px 442px #fff, 1090px 91px #fff,
    1085px 1830px #fff, 807px 1476px #fff, 1014px 879px #fff, 498px 1448px #fff,
    1778px 680px #fff, 942px 351px #fff, 185px 1959px #fff, 1270px 2000px #fff,
    629px 497px #fff, 255px 472px #fff, 865px 275px #fff, 1693px 93px #fff,
    1762px 1571px #fff, 1072px 561px #fff, 1295px 1988px #fff,
    1690px 1638px #fff, 1932px 1282px #fff, 67px 665px #fff, 1935px 1316px #fff,
    1309px 1838px #fff, 530px 1336px #fff, 420px 1779px #fff, 1188px 755px #fff,
    1209px 1705px #fff, 1233px 1581px #fff, 445px 274px #fff, 317px 1455px #fff,
    147px 577px #fff, 1843px 1619px #fff, 1201px 284px #fff, 1558px 245px #fff,
    1845px 531px #fff, 1646px 1371px #fff, 945px 519px #fff, 696px 879px #fff,
    420px 1279px #fff, 1476px 387px #fff, 1744px 1182px #fff, 1671px 1545px #fff,
    278px 573px #fff, 1440px 1948px #fff, 226px 1429px #fff, 178px 885px #fff,
    999px 1771px #fff, 801px 1279px #fff, 1664px 361px #fff, 1584px 520px #fff,
    1332px 127px #fff, 1049px 152px #fff, 1365px 1927px #fff, 763px 899px #fff,
    1211px 155px #fff, 1487px 1241px #fff, 1680px 195px #fff, 903px 724px #fff,
    1459px 1956px #fff, 437px 1196px #fff, 204px 724px #fff, 132px 828px #fff,
    1048px 526px #fff, 57px 317px #fff, 923px 1626px #fff, 1428px 644px #fff,
    702px 1192px #fff, 1173px 1839px #fff, 405px 577px #fff, 1168px 818px #fff,
    1739px 268px #fff, 802px 1009px #fff, 676px 373px #fff, 1287px 920px #fff,
    1320px 1986px #fff, 515px 1826px #fff, 1120px 1594px #fff, 1947px 882px #fff,
    1042px 682px #fff, 1120px 1229px #fff, 1911px 447px #fff, 135px 1959px #fff,
    1522px 422px #fff, 793px 639px #fff, 1795px 1788px #fff, 553px 1682px #fff,
    960px 367px #fff, 1842px 1529px #fff, 1281px 1802px #fff, 957px 6px #fff,
    1117px 1529px #fff, 713px 1004px #fff, 1172px 1913px #fff, 95px 320px #fff,
    640px 862px #fff, 324px 1674px #fff, 1977px 1804px #fff, 175px 568px #fff,
    269px 1132px #fff, 847px 603px #fff, 774px 653px #fff, 1160px 928px #fff,
    723px 1169px #fff, 1468px 720px #fff, 1089px 1372px #fff, 673px 391px #fff,
    1307px 304px #fff, 741px 1335px #fff, 1782px 1961px #fff, 471px 32px #fff,
    39px 840px #fff, 1601px 1662px #fff, 1077px 1620px #fff, 531px 399px #fff,
    1642px 296px #fff, 1173px 184px #fff, 28px 282px #fff, 30px 110px #fff,
    922px 395px #fff, 302px 1749px #fff, 1947px 348px #fff, 474px 1548px #fff,
    1968px 289px #fff, 1689px 1211px #fff, 1885px 1889px #fff, 710px 1944px #fff,
    1387px 830px #fff, 1074px 667px #fff, 1190px 1256px #fff, 293px 984px #fff,
    958px 804px #fff, 254px 1848px #fff, 391px 1069px #fff, 728px 106px #fff,
    1235px 323px #fff, 1193px 393px #fff, 377px 946px #fff, 789px 1269px #fff,
    1797px 1974px #fff, 150px 110px #fff, 1262px 50px #fff, 141px 1112px #fff,
    112px 633px #fff, 463px 30px #fff, 1734px 419px #fff, 1051px 918px #fff,
    1139px 1436px #fff, 343px 315px #fff, 822px 460px #fff, 1861px 423px #fff,
    796px 1803px #fff, 1680px 945px #fff, 235px 1436px #fff, 636px 1471px #fff,
    1180px 594px #fff, 1478px 1531px #fff, 1194px 1222px #fff, 381px 201px #fff,
    570px 903px #fff, 1791px 1004px #fff, 465px 43px #fff, 1531px 1257px #fff,
    1947px 1837px #fff, 1226px 259px #fff, 459px 1246px #fff, 1593px 77px #fff,
    1607px 1931px #fff, 529px 1487px #fff, 702px 979px #fff, 1119px 1759px #fff,
    1974px 240px #fff, 610px 1111px #fff, 1083px 346px #fff, 82px 1850px #fff,
    334px 1531px #fff, 1438px 1664px #fff, 203px 346px #fff, 1330px 1459px #fff,
    793px 1555px #fff, 522px 566px #fff, 531px 255px #fff, 1323px 55px #fff,
    1837px 184px #fff, 1096px 1926px #fff, 783px 585px #fff, 1606px 1700px #fff,
    1635px 135px #fff, 1277px 1064px #fff, 1776px 1476px #fff,
    1127px 1849px #fff, 1005px 987px #fff, 583px 366px #fff, 136px 413px #fff,
    178px 755px #fff, 1354px 81px #fff, 56px 268px #fff, 1070px 1981px #fff,
    1368px 654px #fff, 1384px 230px #fff, 1542px 977px #fff, 307px 1376px #fff,
    119px 844px #fff, 4px 412px #fff, 737px 47px #fff, 1782px 1358px #fff,
    1252px 520px #fff, 376px 1877px #fff, 18px 1768px #fff, 976px 1068px #fff,
    620px 181px #fff, 597px 832px #fff, 1571px 1160px #fff, 466px 1332px #fff,
    1581px 410px #fff, 1301px 211px #fff, 635px 365px #fff, 893px 129px #fff,
    1059px 964px #fff, 918px 909px #fff, 855px 865px #fff, 318px 1331px #fff,
    622px 1924px #fff, 1573px 296px #fff, 1932px 773px #fff, 13px 1010px #fff,
    1720px 375px #fff, 1066px 42px #fff, 631px 855px #fff, 464px 666px #fff,
    1513px 964px #fff, 1757px 1339px #fff, 1136px 197px #fff, 1776px 1191px #fff,
    316px 180px #fff, 283px 1678px #fff, 6px 1706px #fff, 486px 963px #fff,
    726px 1431px #fff, 1713px 248px #fff, 1023px 475px #fff, 893px 719px #fff,
    1033px 728px #fff, 263px 869px #fff, 869px 1776px #fff, 568px 932px #fff,
    83px 324px #fff, 1748px 1984px #fff, 239px 105px #fff, 990px 1815px #fff,
    902px 1092px #fff, 585px 1543px #fff, 1989px 1547px #fff, 151px 1915px #fff,
    1781px 484px #fff, 522px 624px #fff, 684px 1082px #fff, 205px 1761px #fff,
    260px 1251px #fff, 1286px 380px #fff, 220px 899px #fff, 188px 1033px #fff,
    1693px 671px #fff, 1964px 154px #fff, 34px 1909px #fff, 1137px 24px #fff,
    1726px 973px #fff, 451px 1722px #fff, 1493px 1755px #fff, 1938px 436px #fff,
    593px 1976px #fff, 152px 1705px #fff, 1559px 1366px #fff, 1278px 36px #fff,
    499px 1856px #fff, 580px 22px #fff, 1863px 724px #fff, 661px 1659px #fff,
    1162px 555px #fff, 1948px 1571px #fff, 1952px 829px #fff, 687px 654px #fff,
    1938px 663px #fff, 1806px 127px #fff, 1383px 306px #fff, 507px 382px #fff,
    924px 763px #fff, 432px 1471px #fff, 1031px 406px #fff, 1114px 1720px #fff,
    659px 1033px #fff, 1708px 1153px #fff, 1203px 1850px #fff, 1623px 63px #fff,
    1583px 1876px #fff, 171px 98px #fff, 1041px 1633px #fff, 1671px 1652px #fff,
    330px 406px #fff, 1423px 779px #fff, 1352px 1391px #fff, 497px 285px #fff,
    595px 1777px #fff, 65px 323px #fff, 109px 1219px #fff, 1683px 1752px #fff,
    1538px 1779px #fff, 992px 1862px #fff, 1382px 1696px #fff, 1382px 522px #fff,
    483px 1850px #fff, 1895px 1602px #fff, 380px 1366px #fff, 169px 1398px #fff,
    1443px 1031px #fff, 300px 1041px #fff, 1163px 1537px #fff, 1002px 131px #fff,
    1108px 1228px #fff, 409px 530px #fff, 455px 27px #fff, 1825px 739px #fff,
    1480px 197px #fff, 737px 1408px #fff, 1832px 695px #fff, 332px 1681px #fff,
    450px 791px #fff, 581px 1318px #fff, 1264px 682px #fff, 1429px 1351px #fff,
    229px 261px #fff, 1327px 408px #fff, 138px 217px #fff, 1383px 1491px #fff,
    717px 1356px #fff;
}

.stars2 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 769px 561px #fff, 118px 194px #fff, 1762px 1634px #fff,
    157px 1505px #fff, 1472px 577px #fff, 1120px 101px #fff, 740px 1351px #fff,
    1395px 1069px #fff, 82px 1729px #fff, 1183px 249px #fff, 1265px 1466px #fff,
    1136px 1324px #fff, 127px 1057px #fff, 263px 1848px #fff, 1107px 1605px #fff,
    541px 302px #fff, 242px 1186px #fff, 1128px 1318px #fff, 277px 1370px #fff,
    363px 104px #fff, 186px 1355px #fff, 1780px 1578px #fff, 1863px 819px #fff,
    169px 643px #fff, 1780px 1136px #fff, 693px 1912px #fff, 1459px 1555px #fff,
    1338px 135px #fff, 588px 1707px #fff, 671px 103px #fff, 1667px 1089px #fff,
    1980px 1832px #fff, 729px 43px #fff, 516px 1261px #fff, 1031px 1511px #fff,
    1978px 1447px #fff, 1844px 1594px #fff, 686px 1681px #fff, 1573px 944px #fff,
    1127px 1554px #fff, 1427px 677px #fff, 830px 920px #fff, 1694px 665px #fff,
    797px 222px #fff, 1468px 137px #fff, 1833px 1147px #fff, 388px 302px #fff,
    39px 1839px #fff, 1231px 1797px #fff, 168px 862px #fff, 233px 318px #fff,
    504px 91px #fff, 1053px 1972px #fff, 765px 629px #fff, 297px 79px #fff,
    580px 1330px #fff, 1773px 1147px #fff, 1397px 1635px #fff, 398px 1618px #fff,
    1012px 992px #fff, 199px 1636px #fff, 791px 458px #fff, 1336px 1073px #fff,
    1537px 669px #fff, 54px 847px #fff, 50px 1266px #fff, 157px 1532px #fff,
    83px 531px #fff, 211px 1690px #fff, 483px 254px #fff, 338px 347px #fff,
    515px 1619px #fff, 511px 1592px #fff, 1967px 327px #fff, 638px 1565px #fff,
    1240px 688px #fff, 1001px 1000px #fff, 1054px 815px #fff, 1643px 176px #fff,
    1756px 769px #fff, 720px 1607px #fff, 1430px 711px #fff, 1389px 1241px #fff,
    295px 1412px #fff, 471px 6px #fff, 1880px 670px #fff, 1360px 76px #fff,
    30px 334px #fff, 1755px 396px #fff, 497px 593px #fff, 537px 916px #fff,
    276px 192px #fff, 13px 1096px #fff, 87px 1331px #fff, 913px 1848px #fff,
    1864px 1823px #fff, 1138px 1694px #fff, 1754px 283px #fff,
    1256px 1427px #fff, 1439px 212px #fff, 827px 410px #fff, 555px 755px #fff,
    1952px 856px #fff, 282px 1254px #fff, 625px 1755px #fff, 581px 796px #fff,
    1853px 88px #fff, 28px 474px #fff, 1721px 491px #fff, 84px 251px #fff,
    472px 582px #fff, 531px 1930px #fff, 256px 42px #fff, 1406px 1681px #fff,
    684px 144px #fff, 1435px 198px #fff, 1339px 1918px #fff, 1481px 385px #fff,
    1644px 832px #fff, 1813px 975px #fff, 918px 93px #fff, 969px 81px #fff,
    415px 1256px #fff, 529px 237px #fff, 1432px 1656px #fff, 113px 741px #fff,
    877px 1179px #fff, 1513px 577px #fff, 667px 1568px #fff, 224px 1567px #fff,
    1874px 529px #fff, 1444px 1019px #fff, 901px 1493px #fff, 1327px 892px #fff,
    889px 1982px #fff, 1913px 575px #fff, 337px 1972px #fff, 1752px 375px #fff,
    1971px 362px #fff, 1420px 470px #fff, 1581px 1816px #fff, 372px 666px #fff,
    1779px 1338px #fff, 301px 1748px #fff, 114px 1817px #fff, 1589px 862px #fff,
    536px 528px #fff, 1845px 1685px #fff, 310px 471px #fff, 593px 499px #fff,
    385px 1073px #fff, 59px 831px #fff, 1498px 1475px #fff, 1716px 1755px #fff,
    1418px 1255px #fff, 1713px 484px #fff, 1121px 1023px #fff, 261px 667px #fff,
    1708px 341px #fff, 788px 1885px #fff, 405px 1003px #fff, 1842px 721px #fff,
    1013px 233px #fff, 628px 1043px #fff, 96px 1736px #fff, 1575px 619px #fff,
    1326px 506px #fff, 1292px 502px #fff, 1368px 1880px #fff, 1875px 721px #fff,
    559px 1954px #fff, 509px 597px #fff, 1732px 755px #fff, 1768px 318px #fff,
    1492px 1504px #fff, 932px 809px #fff, 999px 1841px #fff, 1722px 1649px #fff,
    1334px 483px #fff, 1492px 1537px #fff, 1946px 1949px #fff, 882px 867px #fff,
    1677px 926px #fff, 822px 539px #fff, 1631px 1641px #fff, 396px 851px #fff,
    1814px 651px #fff, 1490px 1972px #fff, 1598px 790px #fff, 1688px 148px #fff,
    868px 281px #fff, 1206px 261px #fff, 1805px 1219px #fff, 1604px 1632px #fff,
    1752px 1972px #fff, 369px 326px #fff, 261px 1053px #fff, 1955px 49px #fff,
    1105px 1490px #fff, 836px 1208px #fff;
  animation: animStar 100s linear infinite;
}
.stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 769px 561px #fff, 118px 194px #fff, 1762px 1634px #fff,
    157px 1505px #fff, 1472px 577px #fff, 1120px 101px #fff, 740px 1351px #fff,
    1395px 1069px #fff, 82px 1729px #fff, 1183px 249px #fff, 1265px 1466px #fff,
    1136px 1324px #fff, 127px 1057px #fff, 263px 1848px #fff, 1107px 1605px #fff,
    541px 302px #fff, 242px 1186px #fff, 1128px 1318px #fff, 277px 1370px #fff,
    363px 104px #fff, 186px 1355px #fff, 1780px 1578px #fff, 1863px 819px #fff,
    169px 643px #fff, 1780px 1136px #fff, 693px 1912px #fff, 1459px 1555px #fff,
    1338px 135px #fff, 588px 1707px #fff, 671px 103px #fff, 1667px 1089px #fff,
    1980px 1832px #fff, 729px 43px #fff, 516px 1261px #fff, 1031px 1511px #fff,
    1978px 1447px #fff, 1844px 1594px #fff, 686px 1681px #fff, 1573px 944px #fff,
    1127px 1554px #fff, 1427px 677px #fff, 830px 920px #fff, 1694px 665px #fff,
    797px 222px #fff, 1468px 137px #fff, 1833px 1147px #fff, 388px 302px #fff,
    39px 1839px #fff, 1231px 1797px #fff, 168px 862px #fff, 233px 318px #fff,
    504px 91px #fff, 1053px 1972px #fff, 765px 629px #fff, 297px 79px #fff,
    580px 1330px #fff, 1773px 1147px #fff, 1397px 1635px #fff, 398px 1618px #fff,
    1012px 992px #fff, 199px 1636px #fff, 791px 458px #fff, 1336px 1073px #fff,
    1537px 669px #fff, 54px 847px #fff, 50px 1266px #fff, 157px 1532px #fff,
    83px 531px #fff, 211px 1690px #fff, 483px 254px #fff, 338px 347px #fff,
    515px 1619px #fff, 511px 1592px #fff, 1967px 327px #fff, 638px 1565px #fff,
    1240px 688px #fff, 1001px 1000px #fff, 1054px 815px #fff, 1643px 176px #fff,
    1756px 769px #fff, 720px 1607px #fff, 1430px 711px #fff, 1389px 1241px #fff,
    295px 1412px #fff, 471px 6px #fff, 1880px 670px #fff, 1360px 76px #fff,
    30px 334px #fff, 1755px 396px #fff, 497px 593px #fff, 537px 916px #fff,
    276px 192px #fff, 13px 1096px #fff, 87px 1331px #fff, 913px 1848px #fff,
    1864px 1823px #fff, 1138px 1694px #fff, 1754px 283px #fff,
    1256px 1427px #fff, 1439px 212px #fff, 827px 410px #fff, 555px 755px #fff,
    1952px 856px #fff, 282px 1254px #fff, 625px 1755px #fff, 581px 796px #fff,
    1853px 88px #fff, 28px 474px #fff, 1721px 491px #fff, 84px 251px #fff,
    472px 582px #fff, 531px 1930px #fff, 256px 42px #fff, 1406px 1681px #fff,
    684px 144px #fff, 1435px 198px #fff, 1339px 1918px #fff, 1481px 385px #fff,
    1644px 832px #fff, 1813px 975px #fff, 918px 93px #fff, 969px 81px #fff,
    415px 1256px #fff, 529px 237px #fff, 1432px 1656px #fff, 113px 741px #fff,
    877px 1179px #fff, 1513px 577px #fff, 667px 1568px #fff, 224px 1567px #fff,
    1874px 529px #fff, 1444px 1019px #fff, 901px 1493px #fff, 1327px 892px #fff,
    889px 1982px #fff, 1913px 575px #fff, 337px 1972px #fff, 1752px 375px #fff,
    1971px 362px #fff, 1420px 470px #fff, 1581px 1816px #fff, 372px 666px #fff,
    1779px 1338px #fff, 301px 1748px #fff, 114px 1817px #fff, 1589px 862px #fff,
    536px 528px #fff, 1845px 1685px #fff, 310px 471px #fff, 593px 499px #fff,
    385px 1073px #fff, 59px 831px #fff, 1498px 1475px #fff, 1716px 1755px #fff,
    1418px 1255px #fff, 1713px 484px #fff, 1121px 1023px #fff, 261px 667px #fff,
    1708px 341px #fff, 788px 1885px #fff, 405px 1003px #fff, 1842px 721px #fff,
    1013px 233px #fff, 628px 1043px #fff, 96px 1736px #fff, 1575px 619px #fff,
    1326px 506px #fff, 1292px 502px #fff, 1368px 1880px #fff, 1875px 721px #fff,
    559px 1954px #fff, 509px 597px #fff, 1732px 755px #fff, 1768px 318px #fff,
    1492px 1504px #fff, 932px 809px #fff, 999px 1841px #fff, 1722px 1649px #fff,
    1334px 483px #fff, 1492px 1537px #fff, 1946px 1949px #fff, 882px 867px #fff,
    1677px 926px #fff, 822px 539px #fff, 1631px 1641px #fff, 396px 851px #fff,
    1814px 651px #fff, 1490px 1972px #fff, 1598px 790px #fff, 1688px 148px #fff,
    868px 281px #fff, 1206px 261px #fff, 1805px 1219px #fff, 1604px 1632px #fff,
    1752px 1972px #fff, 369px 326px #fff, 261px 1053px #fff, 1955px 49px #fff,
    1105px 1490px #fff, 836px 1208px #fff;
}

.stars3 {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 72px 693px #fff, 1269px 523px #fff, 826px 982px #fff,
    721px 1071px #fff, 814px 968px #fff, 1486px 1030px #fff, 636px 1768px #fff,
    581px 423px #fff, 730px 1311px #fff, 573px 1628px #fff, 788px 1470px #fff,
    1527px 34px #fff, 857px 43px #fff, 1568px 396px #fff, 1628px 1461px #fff,
    1300px 1063px #fff, 1478px 447px #fff, 180px 1459px #fff, 1638px 1582px #fff,
    1922px 470px #fff, 466px 619px #fff, 1319px 1975px #fff, 461px 1362px #fff,
    1416px 979px #fff, 454px 893px #fff, 1312px 909px #fff, 655px 1728px #fff,
    139px 358px #fff, 1676px 831px #fff, 679px 1712px #fff, 1535px 1372px #fff,
    983px 1893px #fff, 1304px 1447px #fff, 1823px 1409px #fff, 126px 591px #fff,
    1622px 267px #fff, 383px 1418px #fff, 33px 1251px #fff, 49px 1554px #fff,
    909px 163px #fff, 260px 259px #fff, 1959px 1921px #fff, 1176px 1595px #fff,
    982px 162px #fff, 1787px 1001px #fff, 417px 1383px #fff, 396px 1176px #fff,
    1916px 1348px #fff, 1922px 844px #fff, 1029px 1936px #fff, 1252px 560px #fff,
    1036px 973px #fff, 1165px 572px #fff, 23px 1661px #fff, 443px 302px #fff,
    1461px 1684px #fff, 1808px 759px #fff, 1022px 217px #fff, 908px 1114px #fff,
    1481px 1883px #fff, 1433px 556px #fff, 990px 942px #fff, 427px 957px #fff,
    1941px 1568px #fff, 650px 1375px #fff, 479px 1943px #fff, 1721px 1076px #fff,
    297px 452px #fff, 1948px 694px #fff, 606px 676px #fff, 218px 411px #fff,
    950px 483px #fff, 965px 638px #fff, 373px 1763px #fff, 180px 1095px #fff,
    1921px 1916px #fff, 1614px 314px #fff, 982px 1191px #fff, 904px 1370px #fff,
    871px 1259px #fff, 981px 1736px #fff, 179px 1913px #fff, 1021px 1713px #fff,
    146px 669px #fff, 1947px 941px #fff, 612px 1466px #fff, 856px 1331px #fff,
    9px 1085px #fff, 718px 943px #fff, 321px 1711px #fff, 1363px 1187px #fff,
    488px 1531px #fff, 436px 1633px #fff, 1412px 852px #fff, 1686px 1434px #fff,
    1253px 90px #fff, 804px 850px #fff, 1039px 805px #fff, 19px 1157px #fff,
    1354px 1247px #fff;
  animation: animStar 150s linear infinite;
}
.stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 72px 693px #fff, 1269px 523px #fff, 826px 982px #fff,
    721px 1071px #fff, 814px 968px #fff, 1486px 1030px #fff, 636px 1768px #fff,
    581px 423px #fff, 730px 1311px #fff, 573px 1628px #fff, 788px 1470px #fff,
    1527px 34px #fff, 857px 43px #fff, 1568px 396px #fff, 1628px 1461px #fff,
    1300px 1063px #fff, 1478px 447px #fff, 180px 1459px #fff, 1638px 1582px #fff,
    1922px 470px #fff, 466px 619px #fff, 1319px 1975px #fff, 461px 1362px #fff,
    1416px 979px #fff, 454px 893px #fff, 1312px 909px #fff, 655px 1728px #fff,
    139px 358px #fff, 1676px 831px #fff, 679px 1712px #fff, 1535px 1372px #fff,
    983px 1893px #fff, 1304px 1447px #fff, 1823px 1409px #fff, 126px 591px #fff,
    1622px 267px #fff, 383px 1418px #fff, 33px 1251px #fff, 49px 1554px #fff,
    909px 163px #fff, 260px 259px #fff, 1959px 1921px #fff, 1176px 1595px #fff,
    982px 162px #fff, 1787px 1001px #fff, 417px 1383px #fff, 396px 1176px #fff,
    1916px 1348px #fff, 1922px 844px #fff, 1029px 1936px #fff, 1252px 560px #fff,
    1036px 973px #fff, 1165px 572px #fff, 23px 1661px #fff, 443px 302px #fff,
    1461px 1684px #fff, 1808px 759px #fff, 1022px 217px #fff, 908px 1114px #fff,
    1481px 1883px #fff, 1433px 556px #fff, 990px 942px #fff, 427px 957px #fff,
    1941px 1568px #fff, 650px 1375px #fff, 479px 1943px #fff, 1721px 1076px #fff,
    297px 452px #fff, 1948px 694px #fff, 606px 676px #fff, 218px 411px #fff,
    950px 483px #fff, 965px 638px #fff, 373px 1763px #fff, 180px 1095px #fff,
    1921px 1916px #fff, 1614px 314px #fff, 982px 1191px #fff, 904px 1370px #fff,
    871px 1259px #fff, 981px 1736px #fff, 179px 1913px #fff, 1021px 1713px #fff,
    146px 669px #fff, 1947px 941px #fff, 612px 1466px #fff, 856px 1331px #fff,
    9px 1085px #fff, 718px 943px #fff, 321px 1711px #fff, 1363px 1187px #fff,
    488px 1531px #fff, 436px 1633px #fff, 1412px 852px #fff, 1686px 1434px #fff,
    1253px 90px #fff, 804px 850px #fff, 1039px 805px #fff, 19px 1157px #fff,
    1354px 1247px #fff;
}
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
