.navBottonContainer {
  height: auto;
  width: 100vw;
  background-color: rgba(22, 22, 22, 0.737);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 10px;
  overflow: hidden;
}

.navBottonElements a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 5vh;
  width: auto;
  font-size: xx-large;
  color: aliceblue;
  text-decoration: none;
  margin-top: -5px;
  margin-right: 20px;
}
i {
  margin: 0 5px 0 5px;
}
.navBottonLogo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: -7px;
}
.navBottonLogo h2 {
  height: 5vh;
  width: auto;
  color: chartreuse;
  font-size: medium;
  margin: 0;
  display: flex;
  align-items: center;
}
.navBottonLogo img {
  height: 5vh;
  width: auto;
  display: flex;
  align-items: center;
}
