/* *,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
} */

.containerCard {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 320px;
  width: 250px;
  transition: all 0.3s ease 0s;
  border: 3px ridge #010101b4;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.containerCard:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 310px;
  border: 3px ridge #010101b4;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

/*Botón X*/
.containerButtonX {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 20px;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}
.containerButtonX button {
  scale: 1.5;
  position: absolute;
  top: 18px;
  right: 15px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.containerButtonX button:hover {
  scale: 2;
  transition: all 0.3s ease 0s;
}
.containerButtonX button:not(:hover) {
  transition: all 0.5s ease;
}

.containerButtonX button i {
  color: rgba(51, 50, 49, 0.747);
}

.containerButtonX button i:hover {
  transition: all 0.5s ease;
  /* color: rgba(252, 6, 6, 1); */
  animation: col 0.3s ease-in-out forwards;
}
@keyframes col {
  0% {
    color: rgba(51, 50, 49, 0.7);
  }
  25% {
    color: rgba(71, 62, 60, 0.78);
  }
  50% {
    color: rgba(155, 103, 89, 0.85);
  }
  75% {
    color: rgba(219, 93, 71, 0.92);
  }
  100% {
    color: rgb(255, 51, 0);
  }
}
/*Contenedor Principal Before para movimiento color radial*/
.containerCard::before {
  content: "";
  top: -25%;
  left: -75%;
  height: 150%;
  width: 250%;
  position: absolute;
  background: conic-gradient(
    #54fd00,
    #b6fe00,
    #77ff00,
    #1aff00,
    #00ff1a,
    #00ff59,
    #00fd98
  );
  animation: spin 1.5s infinite linear;
  z-index: -100;
}
@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}
/*Contendertor Principal after para mostrar Inf.*/
.containerCard::after {
  content: "";
  position: absolute;
  background-color: rgba(18, 18, 18, 0.908);
  top: 1.5%;
  left: 2.2%;
  height: 96%;
  width: 94%;
  border-radius: 10px;
  border: 3px ridge #01010182;
  place-items: center;
  z-index: -90;
}
/*Contenedor Image, Image*/
.imageCharacter {
  position: absolute;
  background-color: rgba(18, 18, 18, 0.908);
  top: 1.5%;
  left: 2.2%;
  height: 96%;
  width: 94%;
  border-radius: 10px;
  border: 3px ridge #01010182;
  display: grid;
  place-items: top;
  overflow: hidden;
  z-index: -80;
}
.imageCharacter img {
  display: flex;
  height: auto;
  width: 100%;
}
.containerCard.imageCharacter img:hover {
  scale: 1.5;
}
/*Contenedor Name Characters*/
.containerInfo .nameCharacter {
}
